<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997003407665-p3aqe94m4bb2vrqq73836o31huurt7c9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997003407665-p3aqe94m4bb2vrqq73836o31huurt7c9</string>
	<key>API_KEY</key>
	<string>AIzaSyCHNaRLoXVPfmocRh0ve4YCnh7WZ_DkWKo</string>
	<key>GCM_SENDER_ID</key>
	<string>997003407665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterStudy</string>
	<key>PROJECT_ID</key>
	<string>flutterstudy-974a1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterstudy-974a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997003407665:ios:4312feb37d976de5c10010</string>
</dict>
</plist>